<div class="row mx-3">
  <h4>New project</h4>

  <div class="col-md-4">
    <%= render "form", project: @project %>

    <br>
    
    <div>
      <%= link_to "Back to projects", projects_path, class: 'text-decoration-none' %>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
